* {
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: 'Gotham Nights';
    src: url(GothamNights-e49g.ttf);
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-size: 1.1rem;
    color: rgb(216, 196, 105);
    background-color: #3C271D;
}

.header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: rgb(39, 23, 16);
    color: #EBC104;
    height: 4.5rem;
    font-family: 'Gotham Nights';
    top: 0;
    z-index: 10;
}

.header nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 1.5rem;
}

.header div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.header_items:hover {
    background-color: #EBC104;
    transition: 0.8s;
    color: #3C271D;
}

.header_items:hover a {
    color: #3C271D;
}

.header a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #EBC104;
}

.icon_header {
    width: 3rem;
    padding-right: 0.6em;
}

.logo_header {
    width: 7rem;
}

.logo_header:hover {
    filter: drop-shadow(0 0 15px white);
    transition: 0.3s;
}

#CONTACT {
    padding-top: 4.5rem;
}

.formulaire {
    display: flex;
    padding: 30px;
    flex-direction: column;
}
input {
    margin: 5px;
    padding: 2px;
    width: 97%;
}
select {
    margin: 5px;
}
.button {
    text-align: center;
    padding: 20px;
}
h2 {
    font-size: 3rem;
    letter-spacing: 6px;
    text-align: center;
    font-family: 'Gotham Nights';
    color:#EBC104;
    

}

.contactavis {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    line-height: 1.5rem;
}
form {
    padding:50px;
    }

.comment {
    width: 30%;
    margin: 50px;
    border: 1px solid#EBC104;
    padding: 20px;
    font-style: italic;
    color: white;
    -webkit-box-shadow: 6px 8px 17px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 8px 17px -4px rgba(0,0,0,0.75);
box-shadow: 6px 8px 17px -4px rgba(0,0,0,0.75);

}
.comment p {
    margin-top: 10px;
}
.commentcontain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
textarea {
    width: 97%;
    margin:5px;
    height: 100px;
}

.avis h2 {
    padding: 20px;
}
.formulaire p {
    margin-bottom: 10px;
}
footer {
    background-color: rgb(39, 23, 16);
    padding: 30px;
    margin-top: 30px;
}
.informations {
    display: flex;
    flex-direction: column;
    text-align: center;
}
h1 {
    font-family: 'Gotham Nights';
    font-size: 4rem;
    padding: 1rem 0 1rem 0;
    color: #EBC104;
    text-shadow: 0 -3px 0 #ddd,
		0 3px 0 #111,
		-3px 0 #666,
		3px 0 #666,
		-3px -3px 0 #999,
		3px -3px 0 #999,
		3px 3px 0 #333,
        -3px 3px 0 #333;
    text-align: center;
}

.batcub_pres {
    display: flex;
    flex-direction: column;
    padding-top: 4.5rem;
    justify-content: center;
}

.batcub_items {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.batcub_items p {
    margin-left: 1em;
    width: 45%;
    text-align: justify;
    line-height: 1.5rem;
    background-color: rgb(39, 23, 16);
    padding: 1em;
    border-radius: 4%;
}

.signature_SO {
    text-shadow: #FC0 1px 0 10px;
    font-style: bold;
    float: right;
}

.SO {
    font-style: italic;
}

.img_provisoire {
    width: 45%;
    height: 100%m;
    background-color: rgb(206, 48, 2);
    margin: 0 1em 0 0;
    border-radius: 4%;
}

.mapsAndLine {
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
    margin-bottom: 1%;
}

.line {
    transform: rotate(90deg);
    z-index: 2;
    flex-direction: row;
    align-items: stretch;
} 

iframe {
    
    width: 800px;
    height:800px;

}

.maps a {
    color: white;
    text-decoration: none;
}


.table  {
    border-collapse:collapse;
    border-spacing:0;
    border-width:1px;
    border-style:solid;
    border-color:#aaa;
    text-align: center;
    vertical-align: center;
    color: white;
    width: 45%;
    height: 25%;


}

.table td{
    font-size:1.1rem;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#EBC104;
}

.table th{
    font-size:1.1rem;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#EBC104;
    background-color:#EBC104;
    color: #5f8d9f;
}

.scheduleAndPrices{

    display: inline-flex;
    justify-content: space-around;
    margin-bottom: 3%;
    margin-top: 3%;
}

.schedule{
    height: 350px;
}

@media screen and (max-width: 600px) {
    .header p {
        display: none;
    }

    .icon_header {
        padding: 0;
    }

    .header_items:hover {
        background-color: rgb(39, 23, 16);
    }

    .logo_header {
        width: 5rem;
    }

    .batcub_items {
        flex-direction: column;
    }

    .batcub_items p {
        margin-left: 1em;
        width: 90%;
        line-height: 1.5rem;
    }
    
    .img_provisoire {
        width: 100%;
        height: 20em;
        background-color: tomato;
        margin: 0 1em 2em 0;
        border-radius: 0;
    }
}
h3 {
    
    font-style: normal;
    font-weight: bold;
    color: #EBC104;
}
.logosocial img {
    width: 3rem;
}
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    line-height: 1.5rem;
    
}
.comment img {
    width: 1rem;
    margin-left: 10px;
}
.negatif img {
    width: 1rem;
   rotate: 180deg;
}

.button {
    color: #3C271D ;
    background-color: #EBC104;
    border-radius: 3px;
    cursor: pointer; 
    box-shadow: 0 2px 16px 0 rgb(0, 0, 0);
    padding: 10px;
    margin: 10px;
    transition-duration: 0.4s;
  }
  
  .button:hover {
    background-color: #3C271D; 
    color: white;
  }
  .social {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
  }
  .logosocial {
      margin-left: 100px;
      margin-right: 100px;
  }
 
  @media screen and (max-width: 600px) {
  .contactavis {
      flex-direction: column;
  }
  .commentcontain {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.comment {
    width: 80%;
}
footer {
    flex-direction: column-reverse;
    text-align: center;
}
.social {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.logosocial {
    margin: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

  }

